body {
  background-color: skyblue;
}
h3 {
  color: green;
}
.Pro{
    background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 30px 50px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 32px;
  list-style-type: none;
  margin: 0;
  padding: 0;
    }
    .Exp{ 
      background-color: #4CAF50; /* Green */
      border: none;
      color: white;
      padding: 15px 32px;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      font-size: 32px;
      list-style-type: none;
     margin: 0;
     padding: 0; 
        }
    .Abi{
      background-color: #4CAF50; /* Green */
      border: none;
      color: white;
      padding: 20px 45px;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      font-size: 32px;
      list-style-type: none;
      margin: 0;
      padding: 0;}
    .Proje{background-color: #4CAF50; /* Green */
      border: none;
      color: white;
      padding: 15px 32px;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      font-size: 32px;
      list-style-type: none;
      margin: 0;
      padding: 0;}
    .Con{background-color: #4CAF50; /* Green */
      border: none;
      color: white;
      padding: 15px 32px;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      font-size: 32px;
      list-style-type: none;
      margin: 0;
      padding: 0;}
         @keyframes example {
            from {background-color: red;}
            to {background-color: yellow;}
            to{background-color: aqua;}
            to{background-color: rgba(4, 255, 0, 0.755);}
            to{background-color: rgb(255, 0, 242);}
            to{background-color: rgb(153, 0, 255);}

          }
          .div1 {
            width: 100px;
            height: 100px;
            background-color: red;
            animation-name: example;
            animation-duration: 4s;
          }
          .image{text-align: center;}
          input[type=text] {
            width: 130px;
            -webkit-transition: width 0.4s ease-in-out;
            transition: width 0.4s ease-in-out;
          }
          
          input[type=text]:focus {
            width: 30%;
          }
          
          input[type=email] {
            width: 130px;
            -webkit-transition: width 0.4s ease-in-out;
            transition: width 0.4s ease-in-out;
          }
          
          input[type=email]:focus {
            width: 30%;
          }
          